/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";

// Theme customization
@import "theme/theme";

// Ð¡onst component variables

* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

$spacer: 1rem;

:root {
  --header-height: 56px;
  --header-bottom-margin: 16px;
  --header-total-height: calc(var(--header-height) + var(--header-bottom-margin));
  --footer-total-height: 57.6px;
  --container-min-height: calc(100vh - var(--header-total-height) - var(--footer-total-height));
  --container-padding-x: calc(#{$spacer} * 12);
  --service-box-gap: 30px;
  --margin-header-footer: 40px;
  --box-size: 150px;
}
